#app {
    background-color: lightgrey;
    margin: 10% auto;
    padding: 5%;
    width: 70%;
    text-align: center;
}

li {
    list-style: none;
    text-align: justify;
}

.articleBlock {
    background-color: darkgrey;
    margin-top: 10%;
}

.commentDate {
    color: grey;
}
